body {
    font-family: 'Roboto Flex', sans-serif;
}

#wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 15% 37.5% 37.5%;
    grid-column-end: 4;
    padding-top: 3%;
    grid-template-rows: 50vh 35vh;
    background-color: #fff;
    color: white;
    padding-left: 5%;
}

.box {
    background-color: transparent;
    color: darkgrey;
    border: 1.5px black solid;
    font-size: 150%;
    border-radius: 25px;
}

.info-panel {
    grid-column: 1;
    grid-row: 1 / span 2;
    border: 1.5px black solid;
    border-radius: 25px;
    color: black;
}

.info-panel .aurinTitle {
    position: relative;
    border-bottom: 1px grey solid;
    text-align: center;
    margin: 0 10% 5% 20%;
    font-family: 'Koulen', cursive;
    font-weight: bolder;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Flex:wght@100;600&display=swap');

.info-panel .infoTitle {
    position: relative;
    border-bottom: 1px grey solid;
    text-align: center;
    margin: 0 10% 0 20%;
    font-family: 'Koulen', cursive;
    font-weight: bolder;

}

.spanWrap {
    padding-left: 5%;
    font-family: 'Roboto Flex', sans-serif;
    padding-right: 5%;
    padding-top: 3%;
}

.chart2 {
    grid-column: 2;
    grid-row: 2;
}

.chart3 {
    grid-column: 3;
    grid-row: 2;
    padding-top: 1%;

}

.ch2wrapper {
    padding-top: 20%;
    text-align: center;
}

.ch3wrapper {
    padding-top: 20%;
    text-align: center;


}

.map {
    grid-column: 2 / -1;
    position: relative;
}

#map-container {
    height: 100%;
    width: 55%;
    float: left;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
    border-right: 1.5px black solid;
}

#aurin-component {
    width: 44.7%;
    height: 100%;
    float: right;
    overflow: hidden;
    border-radius: 0 25px 25px 0;

}

#map-sidebar {
    height: 100%;
    width: 15%;
    background-color: rgba(1, 60, 136, 0.7);
    border: solid black;
    border-width: 0 1.5px 0 0;
    position: absolute;
    float: left;
    border-radius: 25px 0 0 25px;
}

#legend {
    margin: 0 40% 0 40%;
    padding: 1% 0 0 0;
    list-style-type: none;

}

#legend li {
    width: 100%;
    padding-top: 10%;
    position: inherit;
    border-top-style: none;
}

#legend li:nth-child(3) {
    padding-top: 17%;
}

#legend li img:hover {
    background-color: rgba(0, 159, 251, 0.841);
    border-radius: 10px;
    transition: all .4s ease;
}

#legend li img::after {
    background-color: rgba(88, 189, 247, 0.841);
}

#select-list-wrapper {
    margin: 18% 10% 5% 19%;
}

select {
    border-radius: 7px;
    margin-bottom: 1em;
    padding: .25em;
    border: 0;
    background-color: rgba(1, 60, 136, 0.5);
    position: relative;
    border-bottom: 2px solid white;
    font-weight: bold;
    font-size: 48%;
    letter-spacing: .05em;
    border: 1px solid black;
    width: 100%;
    max-width: 100%;
}

select:hover {
    background-color: rgba(0, 159, 251, 0.841);
    border-radius: 10px;
    transition: all .4s ease;
}

.compass-wrapper {
    margin: 20% 5% 10% 14%;
    display: flex;
    justify-content: center;
}

.compass-wrapper img {
    height: 60%;
    width: 70%;
    padding-right: 10%;
}


.ol-zoom {
    left: unset !important;
    right: 8px !important;
}


.chwrapper {
    display: grid;
    grid-gap: 3px;
    position: relative;
    height: 100%;
    padding: 4px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.ch3wrapper {
    position: relative;
    margin-bottom: 10%;
}

.sub-chart-3 {
    grid-column: 1 / span 2;
    margin-left: 25%;
    max-width: 50%;
}

.ol-legend {
    left: unset !important;
    right: 1em;
    bottom: 1em;
    font-size: small !important;
    color: aliceblue !important;
}